.wp-block-table {
    overflow-x: auto;
}

.wp-block-table.ruigehond014 .description {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: clip;
    background-color: rgb(240, 240, 240);
    padding: 3px;
    transition: opacity .5s ease-in-out;
}

.wp-block-table.ruigehond014 .description.active {
    width: auto;
    height: auto;
    opacity: 1;
}

/* cross hair */
.wp-block-table.ruigehond014 .cross-haired {
    background-color: rgb(240, 240, 240);
}
.wp-block-table.ruigehond014 .cross-haired .cross-haired {
    background-color: rgb(230, 230, 230);
}

.wp-block-table.ruigehond014 .cell {
    width: 10%;
}
@media (max-width: 555px) {
    .wp-block-table.ruigehond014 .cell {
        min-width: calc(50vw - 3px);
    }
}